@import '/src/styles';

.main {
  padding: 20px 20px 0 20px;
  overflow: visible;

  form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  h3{
    text-align: center;
    font-size: 26px;
    color: $orange;
  }

  mat-error {
    font-size: 12px;
    position: relative;
  }

  mat-form-field.mdc-text-field--focused {
    border-color: yellow;
    background-color: blue;
  }

  .add-button {
    align-self: center;
    justify-self: center;
    margin-bottom: -28px;
    z-index: 10;
  }

  button.add-button:disabled {
    background-color: $disabled;
  }
}
