@import '/src/styles';

.popover-body {
  display: none;
  width: 150px;
  padding: 20px;
  border: 1px solid $border;
  border-radius: 7px;
  position: absolute;
  background-color: $bg-color-2;
  top: 45px;
  right: 0;
  z-index: 10;
  transition: all ease 0.5s;
  cursor: default;

  .popover-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;

    li.popover-link {
      color: $white;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.active {
  display: block;
}
