<div class="container">
  <div class="main">
    <div *ngFor="let task of tasks.sort(sortTasks)">
      <div class="task-card" [ngClass]="task.id == this.tasks.length ? 'last-task' : ''">
          <mat-icon *ngIf="task.status == 'done'" (click)="changeStatus(task, 'doing')">check_circle</mat-icon>
          <mat-icon *ngIf="task.status != 'done'" (click)="changeStatus(task, 'done')">check_circle_outline</mat-icon>
        <div class="content-wrapper">
          <h4>{{ task.name }}</h4>
          <p *ngIf="task.description"><span>Description:</span> {{ task.description }}</p>
        </div>
        <p class="status" [ngClass]="task.status == 'done' ? 'task-done' : ''">status: <b>{{ task.status }}</b></p>
        <mat-icon class="edit_btn" [routerLink]="['/edit-task', task?.id]">edit</mat-icon>
        <mat-icon class="remove_btn" (click)="deleteTask(task?.id)">remove_circle</mat-icon>
      </div>
    </div>

      <div *ngIf="userHasNoData" class="no-data-wrapper">
        <img
            ngSrc="../../../assets/svg/no-data-icon-light-orange.svg"
            width="150"
            height="150"
            alt="No Data Image"
        >
        <h3>No tasks yet...</h3>
        <p>Add a task to start being more productive.</p>
        <button
          mat-flat-button
          color="accent"
          aria-label="Add Task"
          class="primary-button"
          size="medium"
          [routerLink]="'/add-task'"
        >
          Add task
        </button>
      </div>
  </div>
</div>
